<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.niit.*" />
	<http pattern="resources/images/*" security="none"/>
	
	<!-- <http auto-config='true' use-expressions="true">
    <form-login default-target-url="/home.jsp" />
    <intercept-url pattern="/" access="isAnonymous()" /> -->
	<!-- only admin access -->
<http>
		<intercept-url pattern="/Admin" access="hasRole('ADMIN')" />
		<!-- only user access (who is registered) -->
		<intercept-url pattern="/home" access="hasRole('USER')" />
		<!-- rest of the world -->	
		<anonymous/>		
	<intercept-url pattern="/**" access="permitAll" />
		<form-login login-page="/login" />
		<access-denied-handler error-page="/access-denied"/>
		<logout />
		<csrf disabled="true"/>
	</http>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select email,password,enabled from user where email =?"
				authorities-by-username-query="select email,role from user where email=?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>